/* ------------------------------------------------------------------------navbar */
.navbar-brand img {
  height: 55px;
  width: 110.31px;
}

/* --------------------------------------------------------------------------Smartphone */
.card img {
  width: 50%;
  display: inline-block;
  margin: auto;
  padding-top: 20px;
}
/* -------------------------------------------------------------------------------card section */
.title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.card {
  border: none;
  box-shadow: 0px 0px 10px 2px lightgrey;

  display: flex;
  justify-content: center;
}
.card-footer {
  border: none;
  background-color: white;
}

#beg {
  height: 370px;
  box-shadow: none;
}
#beg2 {
  height: 135px;
  box-shadow: none;
}
.category img {
  box-shadow: 0px 0px 8px 5px lightgrey;
  margin: 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container h1 {
  text-align: center;
  margin-top: 120px;
}
/* -----------------------------------------------------------------------------Utility class */
.card p {
  text-align: center;
}
h1 {
  font-weight: 50px;
}
p {
  font-size: 12px;
  color: #707070;
}

.buy-now-btn {
  padding: 3.5px 14px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
